%footer
  .container-fluid
    .row
      .col-xs-12
        = t('site.copyright_html')
        = t('site.about_html', link: about_path)
        %br/
        = t('site.contact_html')

= render 'shared/ga'
