/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require rails_bootstrap_forms
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.banner {
  background-image: image-url('tranh_co_dong.jpg');
  width: 100%;
  height: 150px;
  margin-bottom: 1em;
}

.table th {
  text-transform: capitalize;
}

.pagination {
  margin: 1em 0;
}

.page__info {
  margin: 1em 0;
}

.control-label {
  text-transform: capitalize;
}

@media (min-width: $screen-sm-min) {
  .form-group {
    padding-right: 1em;
  }
}

footer {
  background-color: #2a2730;
  color: #99979c;
  text-align: center;
  padding: 3em 0;
}

footer a {
  color: white;
}

.header {
  margin: 1em 0;
}
